<div align="center" >
    <h1> <u> <b> Customer Form </b> </u> </h1>
    <h2>Insert</h2>
    <form #insertform="ngForm" (ngSubmit)="insertcustdata(insertform)">

        <label for="custid">Cust ID:- </label>
        <input type="number" name="custid" id="custid" #custid (ngModel)="custid" ><br><br>

        <label for="custname">Cust Name:- </label>
        <input type="text" name="custname" id="custname" #custname (ngModel)="custname" ><br><br>

        <label for="custprice">Cust Order Price</label>
        <input type="number" name="custprice" id="custprice" #custprice (ngModel)="custprice" ><br><br>

        <input type="submit" value="Insert">

    </form>
</div>